@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600');

* {
    font-family: 'Fira Sans', sans-serif;
    outline: none !important;
}
body {
  background: #159957;
  background: -webkit-linear-gradient(to left, #155799, #159957);
  background: linear-gradient(to left, #155799, #159957);
}
h1 {
  margin-top: 10px !important;
  font-size: 32px !important;
  font-weight: 300 !important;
  text-align: right;
}
h5 {
  font-weight: 200 !important;
  letter-spacing: 2px;
}
h5 small {
  color: rgba(85,111,140,0.8) !important;
}
.panel-primary {
  border: none !important;
}
.panel-primary > .panel-heading {
  background-color: #34495e !important;
  border-bottom: 1px solid rgba(85,111,140,0.3) !important;
}
.panel-heading span.title {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
}
.progress {
  margin: 10px 0 !important;
}
.panel-body {
    padding: 5px;
    background-color: #34495e;
    color: #fff;
}
.current svg {
  color: #f1c40f;
}
.panel-footer {
  min-height: 75px;
  background-color: #34495e !important;
  color: rgba(255,255,255, 0.3);
  border-top: 1px solid rgba(85,111,140,0.3) !important;
  letter-spacing: 2px;
}
.panel-footer svg {
  color: rgba(255,255,255, 0.3);
}
.panel-footer svg.active {
  color: #f1c40f;
}
.panel-footer small.active {
  color: #fff;
}
.footer-btn {
  cursor: pointer;
}
.fa-layers-counter {
  background-color: #e74c3c;
}
.utilities {
  border: 1px solid #556f8c;
  background-color: #556f8c;
  border-radius: 5px;
  min-height: 100px;
  padding: 10px;
  margin-top: 15px;
  text-transform: capitalize;
}
.utilities .cost::before {
  content: '$';
}
.utilities span.line {
  height: 3px;
  position: absolute;
}
.utilities.security span.line {
  background-color: #f1c40f;
}
.utilities.electrical span.line {
  background-color: #D158B4;
}
.utilities.internet span.line {
  background-color: #62B56F;
}
.utilities.phone span.line {
  background-color: #e74c3c;
}
.utilities.insurance span.line {
  background-color: #5890DC;
}
.utilities.mortgage span.line {
  background-color: #1abc9c;
}
.utilities p {
  margin: 10px 0 5px 0;
  font-weight: 100;
}
.utilities h5 {
  font-weight: 500 !important;
    margin-top: 0 !important;
}
#archive-drop {
  border-top: 1px solid rgba(85,111,140,0.3) !important;
  margin-top: 15px;
  padding: 15px 0  0 5px;
}
#archive-drop .col-xs-12 {
  margin-bottom: 10px !important;
}
#archive-drop .archive-date {
  letter-spacing: 2px;
  font-weight: 100;
}
#archive-drop .archive-date small {
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
#archive-drop .archive-date small.info {
  cursor: pointer;
}
#archive-drop .archive-date small.info:hover {
  color: #1abc9c;
}
