@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600');

* {
    font-family: 'Fira Sans', sans-serif;
    outline: none !important;
}
body {
  background: #159957;
  background: -webkit-linear-gradient(to left, #155799, #159957);
  background: linear-gradient(to left, #155799, #159957);
}
h1 {
  margin-top: 10px !important;
  font-size: 32px !important;
  font-weight: 300 !important;
  text-align: right;
}
h5 {
  font-weight: 200 !important;
  letter-spacing: 2px;
}
h5 small {
  color: rgba(85,111,140,0.8) !important;
}
.buffer {
  margin: 5% 0;
}
.panel-primary {
  border: none !important;
}
.panel-primary > .panel-heading {
  background-color: #34495e !important;
  border-bottom: 1px solid rgba(85,111,140,0.3) !important;
}
.panel-heading span.title {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
}
.progress {
  margin: 10px 0 !important;
}
.panel-body {
    padding: 5px;
    background-color: #34495e;
    color: #fff;
}
.current svg {
  color: #f1c40f;
}
.panel-footer {
  min-height: 75px;
  background-color: #34495e !important;
  color: rgba(255,255,255, 0.3);
  border-top: 1px solid rgba(85,111,140,0.3) !important;
  letter-spacing: 2px;
}
.panel-footer svg {
  color: rgba(255,255,255, 0.3);
}
.panel-footer svg.active {
  color: #f1c40f;
}
.panel-footer small.active {
  color: #fff;
}
.footer-btn {
  cursor: pointer;
}
#analytics {
  cursor: default !important;
}
.fa-layers-counter {
  background-color: #e74c3c;
}
.utilities {
  border: 1px solid #556f8c;
  background-color: #556f8c;
  border-radius: 5px;
  min-height: 100px;
  padding: 10px;
  margin-top: 15px;
  text-transform: capitalize;
}
.utilities .cost::before {
  content: '$';
}
.utilities .debtTotal::before {
  content: '$';
}
.utilities span.line {
  height: 3px;
  position: absolute;
}
.utilities h4 {
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 20px;
  text-transform: none;
}
#debts-drop .utilities:nth-child(1), #data-drop .utilities:nth-child(1){
  min-height: 120px;
}
#debts-drop .utilities.debt01 span.line {
  background-color: #f78fb3;
}
#debts-drop .utilities.debt02 span.line {
  background-color: #f1c40f;
}
#debts-drop .utilities.debt03 span.line {
  background-color: #e74c3c;
}
#debts-drop .utilities.debt04 span.line {
  background-color: #5890DC;
}


.utilities.security span.line {
  background-color: #f1c40f;
}
.utilities.electrical span.line {
  background-color: #D158B4;
}
.utilities.internet span.line {
  background-color: #62B56F;
}
.utilities.phone span.line {
  background-color: #e74c3c;
}
.utilities.insurance span.line {
  background-color: #5890DC;
}
.utilities.mortgage span.line {
  background-color: #1abc9c;
}
.utilities p {
  margin: 10px 0 5px 0;
  font-weight: 100;
}
.utilities h5 {
  font-weight: 500 !important;
    margin-top: 0 !important;
}
#debts-drop, #add-drop, #data-drop {
  border-top: 1px solid rgba(85,111,140,0.3) !important;
  margin-top: 15px;
  padding: 15px 0  0 5px;
}
#debts-drop .col-xs-12 {
  margin-bottom: 10px !important;
}
#debts-drop #debtChart {
  margin-top: 10px;
}
#debts-drop .debts-date {
  letter-spacing: 2px;
  font-weight: 200;
  padding: 2%;
  border-radius: 5px;
  background-color: #596E89;
  margin-bottom: 10px;
}
#debts-drop .debts-date small {
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
#debts-drop .debts-date small.info {
  cursor: pointer;
}
#debts-drop .debts-date small.info:hover {
  color: #1abc9c;
}
#add-drop .add-palette {
  cursor: pointer;
  margin-bottom: 10px !important;
}
#add-drop .input-group {
  margin-bottom: 10px !important;
}
#add-drop .input-group-addon {
  min-width: 40px;
}
#add-drop .form-control:focus {
    border-left-color: #CB5B54 !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#palette {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent;
  width: 20px;
  height: 20px;
  outline: 0 !important;
}

#data-drop {
  min-height: 300px;
}

.chart {
  width: 250px;
  height: 250px;
}

.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  font-size: 13px;
  text-shadow: 0 1px 0 #000;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.doughnutTip::after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  line-height: 0;
}
.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 27%;
  left: 6.5%;
  font-size: 30px;
}
.chart path:hover {
  opacity: 0.35;
}
